.w-h{
    height: 190px;
    object-fit: cover;
}
.card{
    height: 400px;
}
.onCenter{
    position: relative !important;
    top: 30%;
}
.n{
    border: none;
}
.cardButtons{
    position: absolute;
    bottom: 15px;
    width: 60%;
    margin-left: 18px;
}
.card-total{
    height: 350px !important;
}