.t-s1{
    text-shadow: 1px 1px 3px #ffc107; 
    font-size: 40.4px !important;  
}
ul.t-s2>li{
    text-shadow: 1px 1px 3px #f8f9fa60;
}
.navDrop{
    margin-right: 90px;
}
@media screen and (max-width:766px) {
    .navDrop{
        border: solid 1px rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        padding: 5px 10px;
        position: relative;
        margin-right: 0;
    }
}
@media screen and (max-width: 539px) {
    .t-s1{
        display: none;
    }
    .m-responsive{
        margin-top: 11px;
    }
}
@media screen and (min-width:766px) {
    .navbar{
        padding: 0 !important;
    }
}