.cardButtons{
    position: absolute;
    bottom: 15px;
    width: 60%;
    margin-left: 18px;
}
.card-total{
    height: 350px !important;
}
.w-input{
    width: 92.4% !important;
}
.bgray{
    background-color: #EBEDF0;
}
.fs-13{
    font-size: 13px;
    font-weight: 600;
}
.cp{
    cursor: pointer;
}
.videoButton{
    position: absolute;
    font-size: 55px;
    opacity: 60%;
    width: 100%;
    padding: 42px 0;
    text-align: center;
    transition: ease-out 0.2s;
}
.videoButton:hover{
    transition: ease-in 0.2s;
    opacity: 90%;
    font-size: 70px;
}
.videoButton>div{
    opacity: 0;
    height: 100%;
    position: absolute;
    font-weight: 500;
    left: 175px;
    bottom: 22px;
    transition: ease-out 0.2s;
}
.videoButton>div:hover{
    transition: ease-in 0.1s;
    opacity: 100%;
}
span{
    font-size: 15px;
    padding: 0 4px;
}


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 11rem;
  }
  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #cecdca;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    background-color: #ffc107;
    border-radius: 1rem;
    height: 2rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #ffc107;
    outline-offset: 0.125rem;
  }
  
  input[type="range"]::-moz-range-track {
    background-color: #cecdca;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #ffc107;
    border: none; 
    border-radius: 1rem;
    height: 2rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #ffc107;
    outline-offset: 0.125rem;
  }